force-app/main/default/flows/IoTFlowSolar_Panels-3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>FlowActionCall Node for Invoking an action that creates the response event</description>
        <name>S2_R0_A0_RESPONSE_ACTION</name>
        <label>Create Response event for sObject:Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createResponseEventAction</actionName>
        <actionType>createResponseEventAction</actionType>
        <connector>
            <targetReference>S2_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R0_A0_RESPONSE_ACTION_ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>eventPK</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccessful</name>
            <value>
                <elementReference>R_E_caseResponse_IS_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalEventId</name>
            <value>
                <elementReference>PE_EXTERNAL_EVENT_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queriedFields</name>
            <value>
                <elementReference>S2_R0_A0_SOBJECT_Case_QUERIED_FIELDS_REF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseEventName</name>
            <value>
                <stringValue>caseResponse</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdId</name>
            <value>
                <elementReference>S2_R0_A0_SOBJECT_ID_Case_ASSIGN_REF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>salesforceObjectCreate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>FlowActionCall Node for Invoking an action that creates the response event with isSuccessful set to false</description>
        <name>S2_R0_A0_RESPONSE_FAIL</name>
        <label>Unsuccessful CRUD Response Action Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createResponseEventAction</actionName>
        <actionType>createResponseEventAction</actionType>
        <connector>
            <targetReference>S2_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R0_A0_RESPONSE_FAIL_ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>eventPK</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccessful</name>
            <value>
                <elementReference>R_E_caseResponse_IS_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalEventId</name>
            <value>
                <elementReference>PE_EXTERNAL_EVENT_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseEventName</name>
            <value>
                <stringValue>caseResponse</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>salesforceObjectCreate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>FlowActionCall Node for Invoking an action that creates the response event</description>
        <name>S2_R2_A1_RESPONSE_ACTION</name>
        <label>Create Response event for sObject:Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createResponseEventAction</actionName>
        <actionType>createResponseEventAction</actionType>
        <connector>
            <targetReference>S2_R2_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R2_A1_RESPONSE_ACTION_ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>eventPK</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccessful</name>
            <value>
                <elementReference>R_E_caseClosedToWarning_IS_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalEventId</name>
            <value>
                <elementReference>PE_EXTERNAL_EVENT_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseEventName</name>
            <value>
                <stringValue>caseClosedToWarning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>salesforceObjectUpdate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>FlowActionCall Node for Invoking an action that creates the response event with isSuccessful set to false</description>
        <name>S2_R2_A1_RESPONSE_FAIL</name>
        <label>Unsuccessful CRUD Response Action Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createResponseEventAction</actionName>
        <actionType>createResponseEventAction</actionType>
        <connector>
            <targetReference>S2_R2_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R2_A1_RESPONSE_FAIL_ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>eventPK</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccessful</name>
            <value>
                <elementReference>R_E_caseClosedToWarning_IS_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalEventId</name>
            <value>
                <elementReference>PE_EXTERNAL_EVENT_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseEventName</name>
            <value>
                <stringValue>caseClosedToWarning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>salesforceObjectUpdate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>FlowActionCall Node for Invoking an action that creates the response event</description>
        <name>S2_R3_A1_RESPONSE_ACTION</name>
        <label>Create Response event for sObject:Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createResponseEventAction</actionName>
        <actionType>createResponseEventAction</actionType>
        <connector>
            <targetReference>S2_R3_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R3_A1_RESPONSE_ACTION_ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>eventPK</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccessful</name>
            <value>
                <elementReference>R_E_caseClosedToError_IS_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalEventId</name>
            <value>
                <elementReference>PE_EXTERNAL_EVENT_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseEventName</name>
            <value>
                <stringValue>caseClosedToError</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>salesforceObjectUpdate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>FlowActionCall Node for Invoking an action that creates the response event with isSuccessful set to false</description>
        <name>S2_R3_A1_RESPONSE_FAIL</name>
        <label>Unsuccessful CRUD Response Action Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createResponseEventAction</actionName>
        <actionType>createResponseEventAction</actionType>
        <connector>
            <targetReference>S2_R3_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R3_A1_RESPONSE_FAIL_ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>eventPK</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccessful</name>
            <value>
                <elementReference>R_E_caseClosedToError_IS_SUCCESS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalEventId</name>
            <value>
                <elementReference>PE_EXTERNAL_EVENT_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseEventName</name>
            <value>
                <stringValue>caseClosedToError</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>salesforceObjectUpdate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Assign Error: Failure during Record Lookup</description>
        <name>CONTEXT_LOOKUP_ERROR</name>
        <label>Assignment value: Failure during Record Lookup to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Lookup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ContextRecordId Assignment</description>
        <name>CONTEXT_RECORD_ID_ASSIGNMENT</name>
        <label>ContextRecordId Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CONTEXT_RECORD_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CONTEXT_RECORD_ID_CONTEXT_RECORD_ID_ASSIGNMENT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INITIALIZE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Default Fault Node for Flow Runtime errors. Sets current state to -2 (Error State).</description>
        <name>ERROR_STATE_ASSIGNMENT</name>
        <label>Error State Assignment (-2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-2.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Error</description>
        <name>ERROR_STATE_COMPONENT_HEAD</name>
        <label>Record Transition to Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ERROR_STATE_COMPONENT_HEAD_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_ASSIGNMENT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting current state to initial state: Healthy (1)</description>
        <name>INITIAL_STATE_ASSIGN</name>
        <label>Set Initial State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Healthy</description>
        <name>INITIAL_STATE_TRANSITION</name>
        <label>Record Transition to Healthy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>INITIAL_STATE_TRANSITION_CONST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INITIAL_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting transition flag to true</description>
        <name>INITIAL_TRANSITION_ASSIGN</name>
        <label>Set In Transition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INITIAL_STATE_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Warning</description>
        <name>S1_R0_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1_R0_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Warning( 3 )</description>
        <name>S1_R0_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Warning( 3 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Solar_Panel_Monitor__e) SObject Flow Variable to null</description>
        <name>S1_R0_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</name>
        <label>Nullify event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S1_R0_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S1_R0_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R0_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S1_R0_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S1_R0_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S1_R0_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Error</description>
        <name>S1_R1_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1_R1_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Error( 2 )</description>
        <name>S1_R1_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Error( 2 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Solar_Panel_Monitor__e) SObject Flow Variable to null</description>
        <name>S1_R1_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</name>
        <label>Nullify event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S1_R1_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S1_R1_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R1_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S1_R1_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S1_R1_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S1_R1_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Update</description>
        <name>S1_R2_A0_SOBJECT_UPDATE_ERROR</name>
        <label>Assignment value: Failure during Record Update to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S1_R2_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R2_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S1_R2_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S1_R2_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R2_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R2_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S1_R2_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R2_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R2_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FlowAssignment Node for setting isSuccessful to false</description>
        <name>S2_R0_A0_FAILURE_ASSIGNMENT</name>
        <label>Unsuccessful CRUD Action Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>R_E_caseResponse_IS_SUCCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R0_A0_RESPONSE_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: createResponseEventAction</description>
        <name>S2_R0_A0_RESPONSE_ACTION_ERROR</name>
        <label>Assignment value: Failure during invocable action call of type: createResponseEv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: createResponseEventAction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: createResponseEventAction</description>
        <name>S2_R0_A0_RESPONSE_FAIL_ERROR</name>
        <label>Assignment value: Failure during invocable action call of type: createResponseEv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: createResponseEventAction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Create</description>
        <name>S2_R0_A0_SOBJECT_CREATE_ERROR</name>
        <label>Assignment value: Failure during Record Create to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FlowAssignment Node for setting isSuccessful to false</description>
        <name>S2_R0_A0_SUCCESS_ASSIGNMENT</name>
        <label>Successful CRUD Action Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>R_E_caseResponse_IS_SUCCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R0_A0_RESPONSE_ACTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S2_R0_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R0_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R0_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment Node for Assigning to Variable: CaseId</description>
        <name>S2_R1_A0_ACTION_ASSIGN_VAR_ASSIGN</name>
        <label>Assign CaseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseId_LOCAL_VAR_VARIABLE_0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R1_A0_ACTION_ASSIGN_VAR_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R4_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S2_R1_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R1_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R1_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R4_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for caseResponse</description>
        <name>S2_R1_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: caseResponse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for caseResponse</description>
        <name>S2_R1_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: caseResponse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Healthy</description>
        <name>S2_R2_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Healthy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2_R2_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Healthy( 1 )</description>
        <name>S2_R2_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Healthy( 1 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Solar_Panel_Monitor__e) SObject Flow Variable to null</description>
        <name>S2_R2_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</name>
        <label>Nullify event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S2_R2_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FlowAssignment Node for setting isSuccessful to false</description>
        <name>S2_R2_A1_FAILURE_ASSIGNMENT</name>
        <label>Unsuccessful CRUD Action Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>R_E_caseClosedToWarning_IS_SUCCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_A1_RESPONSE_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: createResponseEventAction</description>
        <name>S2_R2_A1_RESPONSE_ACTION_ERROR</name>
        <label>Assignment value: Failure during invocable action call of type: createResponseEv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: createResponseEventAction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: createResponseEventAction</description>
        <name>S2_R2_A1_RESPONSE_FAIL_ERROR</name>
        <label>Assignment value: Failure during invocable action call of type: createResponseEv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: createResponseEventAction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Update</description>
        <name>S2_R2_A1_SOBJECT_UPDATE_ERROR</name>
        <label>Assignment value: Failure during Record Update to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Lookup</description>
        <name>S2_R2_A1_SOBJECT_UPDATE_PRE_ERROR</name>
        <label>Assignment value: Failure during Record Lookup to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Lookup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FlowAssignment Node for setting isSuccessful to false</description>
        <name>S2_R2_A1_SUCCESS_ASSIGNMENT</name>
        <label>Successful CRUD Action Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>R_E_caseClosedToWarning_IS_SUCCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_A1_RESPONSE_ACTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S2_R2_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R2_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R2_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S2_R2_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R2_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S2_R2_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R2_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Warning</description>
        <name>S2_R3_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2_R3_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Warning( 3 )</description>
        <name>S2_R3_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Warning( 3 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Solar_Panel_Monitor__e) SObject Flow Variable to null</description>
        <name>S2_R3_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</name>
        <label>Nullify event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S2_R3_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FlowAssignment Node for setting isSuccessful to false</description>
        <name>S2_R3_A1_FAILURE_ASSIGNMENT</name>
        <label>Unsuccessful CRUD Action Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>R_E_caseClosedToError_IS_SUCCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_A1_RESPONSE_FAIL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: createResponseEventAction</description>
        <name>S2_R3_A1_RESPONSE_ACTION_ERROR</name>
        <label>Assignment value: Failure during invocable action call of type: createResponseEv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: createResponseEventAction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: createResponseEventAction</description>
        <name>S2_R3_A1_RESPONSE_FAIL_ERROR</name>
        <label>Assignment value: Failure during invocable action call of type: createResponseEv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: createResponseEventAction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Update</description>
        <name>S2_R3_A1_SOBJECT_UPDATE_ERROR</name>
        <label>Assignment value: Failure during Record Update to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Lookup</description>
        <name>S2_R3_A1_SOBJECT_UPDATE_PRE_ERROR</name>
        <label>Assignment value: Failure during Record Lookup to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Lookup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FlowAssignment Node for setting isSuccessful to false</description>
        <name>S2_R3_A1_SUCCESS_ASSIGNMENT</name>
        <label>Successful CRUD Action Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>R_E_caseClosedToError_IS_SUCCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_A1_RESPONSE_ACTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S2_R3_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R3_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R3_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S2_R3_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R3_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S2_R3_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R3_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R3_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Update</description>
        <name>S2_R4_A0_SOBJECT_UPDATE_ERROR</name>
        <label>Assignment value: Failure during Record Update to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S2_R4_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R4_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R4_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R2_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S2_R4_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R4_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R4_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S2_R4_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R4_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R4_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Error</description>
        <name>S3_R0_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_R0_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Error( 2 )</description>
        <name>S3_R0_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Error( 2 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Solar_Panel_Monitor__e) SObject Flow Variable to null</description>
        <name>S3_R0_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</name>
        <label>Nullify event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S3_R0_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S3_R0_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R0_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_R0_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S3_R0_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S3_R0_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Healthy</description>
        <name>S3_R1_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Healthy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_R1_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R1_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Healthy( 1 )</description>
        <name>S3_R1_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Healthy( 1 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Solar_Panel_Monitor__e) SObject Flow Variable to null</description>
        <name>S3_R1_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</name>
        <label>Nullify event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S3_R1_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S3_R1_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R1_A0_ACTION_NULL_EVENT_ASSIGN_Solar_Panel_Monitor_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S3_R1_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R1_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_R1_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S3_R1_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S3_R1_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during Record Update</description>
        <name>S3_R2_A0_SOBJECT_UPDATE_ERROR</name>
        <label>Assignment value: Failure during Record Update to: ERROR_MESSAGE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during Record Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S3_R2_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R2_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_R2_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_EVENT_STATUS_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Solar_Panel_Monitor__e</description>
        <name>S3_R2_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R2_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R2_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Solar_Panel_Monitor__e</description>
        <name>S3_R2_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R2_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R2_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if Context Record is null before assigning value to CONTEXT_RECORD_ID</description>
        <name>CONTEXT_RECORD_NULL_CHECK_DECISION</name>
        <label>Null check for Context Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>INITIALIZE_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>CONTEXT_RECORD_NULL_CHECK_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CONTEXT_RECORD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTEXT_RECORD_ID_ASSIGNMENT</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if in the NOT_STARTED state</description>
        <name>INITIALIZE_DECISION</name>
        <label>Check NOT_STARTED</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NOT_STARTED_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks if in the NOT_STARTED state Rule</description>
            <name>INITIALIZE_DECISION_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOT_STARTED_DECISION</targetReference>
            </connector>
            <label>Check NOT_STARTED Rule</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if in Not Started State</description>
        <name>NOT_STARTED_DECISION</name>
        <label>Not Started Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STATE_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Orchestration Instance Not Started</description>
            <name>NOT_STARTED_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INITIAL_TRANSITION_ASSIGN</targetReference>
            </connector>
            <label>Not Started</label>
        </rules>
        <rules>
            <description>Current state is exit (-1)</description>
            <name>EXIT_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Exit state</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S1_R0_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R0_COND_STATUS_Decision</description>
            <name>S1_R0_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S1_R0_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R0_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S1_R0_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S1_R0_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R0_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 0 for State Healthy (1)</description>
        <name>S1_R0_RULE_COND_DECISION</name>
        <label>Healthy (1) Event Rule 0 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R0_RULE_COND_DECISION</description>
            <name>S1_R0_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S1_R0_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S1_R1_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R1_COND_STATUS_Decision</description>
            <name>S1_R1_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S1_R1_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R1_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S1_R1_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S1_R1_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R1_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 1 for State Healthy (1)</description>
        <name>S1_R1_RULE_COND_DECISION</name>
        <label>Healthy (1) Event Rule 1 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R1_RULE_COND_DECISION</description>
            <name>S1_R1_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S1_R1_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R1_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S1_R2_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R2_COND_STATUS_Decision</description>
            <name>S1_R2_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S1_R2_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R2_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S1_R2_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R2_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S1_R2_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R2_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 2 for State Healthy (1)</description>
        <name>S1_R2_RULE_COND_DECISION</name>
        <label>Healthy (1) Event Rule 2 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R2_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R2_RULE_COND_DECISION</description>
            <name>S1_R2_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S1_R2_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R2_A0_SOBJECT_UPDATE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S2_R0_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R1_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R0_COND_STATUS_Decision</description>
            <name>S2_R0_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IN_TRANSITION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R0_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 0 for State Error (2)</description>
        <name>S2_R0_RULE_COND_DECISION</name>
        <label>Error (2) Immediately Rule 0 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R0_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R0_RULE_COND_DECISION</description>
            <name>S2_R0_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R0_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IN_TRANSITION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R0_A0_SOBJECT_CREATE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S2_R1_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R4_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R1_COND_STATUS_Decision</description>
            <name>S2_R1_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R1_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R1_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: caseResponse</description>
        <name>S2_R1_EVENT_STATUS_DECISION</name>
        <label>Check event: caseResponse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R1_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S2_R1_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseResponse_RESPONSE_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R1_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 1 for State Error (2)</description>
        <name>S2_R1_RULE_COND_DECISION</name>
        <label>Error (2) Event Rule 1 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R1_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R1_RULE_COND_DECISION</description>
            <name>S2_R1_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseResponse_RESPONSE_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S2_R1_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R1_A0_ACTION_ASSIGN_VAR_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check read for null</description>
        <name>S2_R2_A1_SOBJECT_READ_CHECK</name>
        <label>Read Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R2_A1_SOBJECT_UPDATE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R2_A1_SOBJECT_UPDATE_PRE</description>
            <name>S2_R2_A1_SOBJECT_READ_CHECK_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R2_A1_SOBJECT_Case_SOBJECT_OUTPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R2_A1_FAILURE_ASSIGNMENT</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S2_R2_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R3_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R2_COND_STATUS_Decision</description>
            <name>S2_R2_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R2_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R2_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S2_R2_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R2_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S2_R2_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R2_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 2 for State Error (2)</description>
        <name>S2_R2_RULE_COND_DECISION</name>
        <label>Error (2) Event Rule 2 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R2_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R2_RULE_COND_DECISION</description>
            <name>S2_R2_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S2_R2_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R2_A1_SOBJECT_UPDATE_PRE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check read for null</description>
        <name>S2_R3_A1_SOBJECT_READ_CHECK</name>
        <label>Read Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R3_A1_SOBJECT_UPDATE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R3_A1_SOBJECT_UPDATE_PRE</description>
            <name>S2_R3_A1_SOBJECT_READ_CHECK_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R3_A1_SOBJECT_Case_SOBJECT_OUTPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R3_A1_FAILURE_ASSIGNMENT</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S2_R3_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R3_COND_STATUS_Decision</description>
            <name>S2_R3_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R3_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R3_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S2_R3_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R3_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S2_R3_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R3_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 3 for State Error (2)</description>
        <name>S2_R3_RULE_COND_DECISION</name>
        <label>Error (2) Event Rule 3 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R3_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R3_RULE_COND_DECISION</description>
            <name>S2_R3_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S2_R3_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R3_A1_SOBJECT_UPDATE_PRE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S2_R4_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R2_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R4_COND_STATUS_Decision</description>
            <name>S2_R4_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R4_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R4_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S2_R4_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R4_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S2_R4_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R4_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 4 for State Error (2)</description>
        <name>S2_R4_RULE_COND_DECISION</name>
        <label>Error (2) Event Rule 4 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R4_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R4_RULE_COND_DECISION</description>
            <name>S2_R4_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S2_R4_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R4_A0_SOBJECT_UPDATE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S3_R0_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R1_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R0_COND_STATUS_Decision</description>
            <name>S3_R0_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_R0_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R0_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S3_R0_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S3_R0_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R0_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 0 for State Warning (3)</description>
        <name>S3_R0_RULE_COND_DECISION</name>
        <label>Warning (3) Event Rule 0 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R0_RULE_COND_DECISION</description>
            <name>S3_R0_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S3_R0_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S3_R1_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R1_COND_STATUS_Decision</description>
            <name>S3_R1_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_R1_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R1_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S3_R1_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R1_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S3_R1_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R1_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 1 for State Warning (3)</description>
        <name>S3_R1_RULE_COND_DECISION</name>
        <label>Warning (3) Event Rule 1 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R1_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R1_RULE_COND_DECISION</description>
            <name>S3_R1_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S3_R1_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R1_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S3_R2_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R2_COND_STATUS_Decision</description>
            <name>S3_R2_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_R2_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R2_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Solar_Panel_Monitor__e</description>
        <name>S3_R2_EVENT_STATUS_DECISION</name>
        <label>Check event: Solar_Panel_Monitor__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R2_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S3_R2_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R2_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 2 for State Warning (3)</description>
        <name>S3_R2_RULE_COND_DECISION</name>
        <label>Warning (3) Event Rule 2 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R2_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R2_RULE_COND_DECISION</description>
            <name>S3_R2_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S3_R2_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R2_A0_SOBJECT_UPDATE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>State Decision Node</description>
        <name>STATE_DECISION</name>
        <label>State Decision Node</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Current state is: Healthy</description>
            <name>S1_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R2_EVENT_STATUS_DECISION</targetReference>
            </connector>
            <label>Healthy</label>
        </rules>
        <rules>
            <description>Current state is: Warning</description>
            <name>S3_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R2_EVENT_STATUS_DECISION</targetReference>
            </connector>
            <label>Warning</label>
        </rules>
        <rules>
            <description>Current state is: Error</description>
            <name>S2_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R0_RULE_COND_DECISION</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <formulas>
        <name>CONTEXT_RECORD_ID_CONTEXT_RECORD_ID_ASSIGNMENT</name>
        <dataType>String</dataType>
        <expression>{!CONTEXT_RECORD.Id}</expression>
    </formulas>
    <formulas>
        <name>ERROR_STATE_COMPONENT_HEAD_FORMULA</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": -2 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>INITIAL_STATE_TRANSITION_CONST</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 1 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S1_R0_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 3 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S1_R0_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}&lt;{!CONTEXT_RECORD.Warning_Threshold__c}</expression>
    </formulas>
    <formulas>
        <name>S1_R1_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 2 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S1_R1_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}&lt;{!CONTEXT_RECORD.Critical_Threshold__c}</expression>
    </formulas>
    <formulas>
        <name>S1_R2_A0_FILTER_Solar_Panel_Serial_Number_c</name>
        <dataType>String</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Device_Id__c}</expression>
    </formulas>
    <formulas>
        <name>S1_R2_A0_INPUT_Health_c</name>
        <dataType>Number</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>S1_R2_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>1==1</expression>
    </formulas>
    <formulas>
        <name>S2_R0_A0_INPUT_AssetId</name>
        <dataType>String</dataType>
        <expression>{!CONTEXT_RECORD.Id}</expression>
    </formulas>
    <formulas>
        <name>S2_R0_A0_INPUT_Priority</name>
        <dataType>String</dataType>
        <expression>"High"</expression>
    </formulas>
    <formulas>
        <name>S2_R0_A0_INPUT_Subject</name>
        <dataType>String</dataType>
        <expression>"Service Solar Panel"</expression>
    </formulas>
    <formulas>
        <name>S2_R0_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>1==1</expression>
    </formulas>
    <formulas>
        <name>S2_R1_A0_ACTION_ASSIGN_VAR_FORMULA</name>
        <dataType>String</dataType>
        <expression>{!caseResponse_RESPONSE_EVENT_VARIABLE.Id}</expression>
    </formulas>
    <formulas>
        <name>S2_R1_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>1==1</expression>
    </formulas>
    <formulas>
        <name>S2_R2_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 1 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S2_R2_A1_FILTER_Id</name>
        <dataType>String</dataType>
        <expression>{!CaseId_LOCAL_VAR_VARIABLE_0}</expression>
    </formulas>
    <formulas>
        <name>S2_R2_A1_INPUT_Status</name>
        <dataType>String</dataType>
        <expression>"Closed"</expression>
    </formulas>
    <formulas>
        <name>S2_R2_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}>={!CONTEXT_RECORD.Warning_Threshold__c}</expression>
    </formulas>
    <formulas>
        <name>S2_R3_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 3 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S2_R3_A1_FILTER_Id</name>
        <dataType>String</dataType>
        <expression>{!CaseId_LOCAL_VAR_VARIABLE_0}</expression>
    </formulas>
    <formulas>
        <name>S2_R3_A1_INPUT_Status</name>
        <dataType>String</dataType>
        <expression>"Closed"</expression>
    </formulas>
    <formulas>
        <name>S2_R3_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}>={!CONTEXT_RECORD.Critical_Threshold__c} &amp;&amp; {!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}&lt;{!CONTEXT_RECORD.Warning_Threshold__c}</expression>
    </formulas>
    <formulas>
        <name>S2_R4_A0_FILTER_Solar_Panel_Serial_Number_c</name>
        <dataType>String</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Device_Id__c}</expression>
    </formulas>
    <formulas>
        <name>S2_R4_A0_INPUT_Health_c</name>
        <dataType>Number</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>S2_R4_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>1==1</expression>
    </formulas>
    <formulas>
        <name>S3_R0_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 2 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S3_R0_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}&lt;{!CONTEXT_RECORD.Critical_Threshold__c}</expression>
    </formulas>
    <formulas>
        <name>S3_R1_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 1 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S3_R1_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}>={!CONTEXT_RECORD.Warning_Threshold__c}</expression>
    </formulas>
    <formulas>
        <name>S3_R2_A0_FILTER_Solar_Panel_Serial_Number_c</name>
        <dataType>String</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Device_Id__c}</expression>
    </formulas>
    <formulas>
        <name>S3_R2_A0_INPUT_Health_c</name>
        <dataType>Number</dataType>
        <expression>{!Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE.Health__c}</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>S3_R2_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>1==1</expression>
    </formulas>
    <label>Solar Panels</label>
    <processType>OrchestrationFlow</processType>
    <recordCreates>
        <description>RecordCreate Node for Creating a Salesforce Object: Case</description>
        <name>S2_R0_A0_SOBJECT_CREATE</name>
        <label>RecordCreate: Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>S2_R0_A0_SOBJECT_ID_Case_ASSIGN_REF</assignRecordIdToReference>
        <connector>
            <targetReference>S2_R0_A0_SUCCESS_ASSIGNMENT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R0_A0_FAILURE_ASSIGNMENT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>S2_R0_A0_INPUT_AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>S2_R0_A0_INPUT_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>S2_R0_A0_INPUT_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Lookup Context (Asset) Record</description>
        <name>CONTEXT_LOOKUP</name>
        <label>Context Lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CONTEXT_RECORD_NULL_CHECK_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>INITIALIZE_DECISION</targetReference>
        </faultConnector>
        <filters>
            <field>Solar_Panel_Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>CONTEXT_RECORD</outputReference>
        <queriedFields>Warning_Threshold__c</queriedFields>
        <queriedFields>Solar_Panel_Serial_Number__c</queriedFields>
        <queriedFields>Critical_Threshold__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Check that the record for this RecordUpdate exists before updating it.</description>
        <name>S2_R2_A1_SOBJECT_UPDATE_PRE</name>
        <label>RecordLookup: Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S2_R2_A1_SOBJECT_READ_CHECK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R2_A1_FAILURE_ASSIGNMENT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S2_R2_A1_FILTER_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>S2_R2_A1_SOBJECT_Case_SOBJECT_OUTPUT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Check that the record for this RecordUpdate exists before updating it.</description>
        <name>S2_R3_A1_SOBJECT_UPDATE_PRE</name>
        <label>RecordLookup: Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S2_R3_A1_SOBJECT_READ_CHECK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R3_A1_FAILURE_ASSIGNMENT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S2_R3_A1_FILTER_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>S2_R3_A1_SOBJECT_Case_SOBJECT_OUTPUT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>RecordUpdate Node for Updating a Salesforce Object: Asset</description>
        <name>S1_R2_A0_SOBJECT_UPDATE</name>
        <label>RecordUpdate: Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S1_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S1_R1_EVENT_STATUS_DECISION</targetReference>
        </faultConnector>
        <filters>
            <field>Solar_Panel_Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S1_R2_A0_FILTER_Solar_Panel_Serial_Number_c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Health__c</field>
            <value>
                <elementReference>S1_R2_A0_INPUT_Health_c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <description>RecordUpdate Node for Updating a Salesforce Object: Case</description>
        <name>S2_R2_A1_SOBJECT_UPDATE</name>
        <label>RecordUpdate: Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S2_R2_A1_SUCCESS_ASSIGNMENT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R2_A1_FAILURE_ASSIGNMENT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S2_R2_A1_FILTER_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>S2_R2_A1_INPUT_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>RecordUpdate Node for Updating a Salesforce Object: Case</description>
        <name>S2_R3_A1_SOBJECT_UPDATE</name>
        <label>RecordUpdate: Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S2_R3_A1_SUCCESS_ASSIGNMENT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R3_A1_FAILURE_ASSIGNMENT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S2_R3_A1_FILTER_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>S2_R3_A1_INPUT_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>RecordUpdate Node for Updating a Salesforce Object: Asset</description>
        <name>S2_R4_A0_SOBJECT_UPDATE</name>
        <label>RecordUpdate: Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S2_R2_EVENT_STATUS_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S2_R2_EVENT_STATUS_DECISION</targetReference>
        </faultConnector>
        <filters>
            <field>Solar_Panel_Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S2_R4_A0_FILTER_Solar_Panel_Serial_Number_c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Health__c</field>
            <value>
                <elementReference>S2_R4_A0_INPUT_Health_c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <description>RecordUpdate Node for Updating a Salesforce Object: Asset</description>
        <name>S3_R2_A0_SOBJECT_UPDATE</name>
        <label>RecordUpdate: Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S3_R0_EVENT_STATUS_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S3_R0_EVENT_STATUS_DECISION</targetReference>
        </faultConnector>
        <filters>
            <field>Solar_Panel_Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S3_R2_A0_FILTER_Solar_Panel_Serial_Number_c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Health__c</field>
            <value>
                <elementReference>S3_R2_A0_INPUT_Health_c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <startElementReference>CONTEXT_LOOKUP</startElementReference>
    <variables>
        <name>ALARM_REFERENCE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseClosedToError_RESPONSE_EVENT_VARIABLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseClosedToWarning_RESPONSE_EVENT_VARIABLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId_LOCAL_VAR_VARIABLE_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CaseId_VAR_INIT_VALUE_CONST_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>caseResponse_RESPONSE_EVENT_VARIABLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CONTEXT_RECORD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CONTEXT_RECORD_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CURRENT_STATE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ERROR_MESSAGE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EVENT_TYPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FLOW_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FLOW_VERSION_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_TRANSITION</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>INSTANCE_GENERATION</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>INTERVIEW_GUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IS_RESPONSE_EVENT_SUCCESSFUL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LIFECYCLE_STATUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CURRENT</stringValue>
        </value>
    </variables>
    <variables>
        <name>ORCHESTRATION_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0FF0E0000000006WAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>ORCHESTRATION_INSTANCE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORCHESTRATION_INSTANCE_PK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PE_EXTERNAL_EVENT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PE_REPLAY_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PE_TIMESTAMP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>R_E_caseClosedToError_IS_SUCCESS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>R_E_caseClosedToWarning_IS_SUCCESS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>R_E_caseResponse_IS_SUCCESS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R0_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R0_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R1_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R1_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R2_A0_SOBJECT_Asset_SOBJECT_OUTPUT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>S1_R2_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R2_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R0_A0_SOBJECT_Case_QUERIED_FIELDS_REF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[id]</stringValue>
        </value>
    </variables>
    <variables>
        <name>S2_R0_A0_SOBJECT_ID_Case_ASSIGN_REF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S2_R0_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R1_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R1_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R2_A1_SOBJECT_Case_SOBJECT_OUTPUT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>S2_R2_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R2_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R3_A1_SOBJECT_Case_SOBJECT_OUTPUT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>S2_R3_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R3_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R4_A0_SOBJECT_Asset_SOBJECT_OUTPUT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>S2_R4_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R4_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R0_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R0_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R1_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R1_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R2_A0_SOBJECT_Asset_SOBJECT_OUTPUT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>S3_R2_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R2_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SERIALIZED_ORCH_DEFINITION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{"formatVersion":"1.0","properties":{"timezone":"America/Los_Angeles"},"uiProperties":{},"interaction":{"inputs":[],"states":[{"id":0,"name":"Always","isDeployed":true,"actions":[{"id":0,"state":"","condition":"","description":""}]},{"id":1,"name":"Healthy","isInitial":true,"isDeployed":true,"actions":[{"id":2,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"","action":[{"id":0,"name":"salesforceObjectUpdate","label":"Update Asset Health","responseEvent":"","inputFieldAssignments":[{"field":"Health__c","valueExpression":"Solar_Panel_Monitor__e.Health__c"}],"recordFilters":[{"field":"Solar_Panel_Serial_Number__c","valueExpression":"Solar_Panel_Monitor__e.Device_Id__c"}],"sObjectApiName":"Asset","isResponseIngested":false,"type":"syncOutput"}],"description":""},{"id":1,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"Solar_Panel_Monitor__e.Health__c&lt;Asset.Critical_Threshold__c","action":[{"id":0,"name":"changeState","params":{"$1":2},"type":"catalog"}],"description":""},{"id":0,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"Solar_Panel_Monitor__e.Health__c&lt;Asset.Warning_Threshold__c","action":[{"id":0,"name":"changeState","params":{"$1":3},"type":"catalog"}],"description":""}]},{"id":3,"name":"Warning","isDeployed":true,"actions":[{"id":2,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"","action":[{"id":0,"name":"salesforceObjectUpdate","label":"Update Asset Health","responseEvent":"","inputFieldAssignments":[{"field":"Health__c","valueExpression":"Solar_Panel_Monitor__e.Health__c"}],"recordFilters":[{"field":"Solar_Panel_Serial_Number__c","valueExpression":"Solar_Panel_Monitor__e.Device_Id__c"}],"sObjectApiName":"Asset","isResponseIngested":false,"type":"syncOutput"}],"description":""},{"id":0,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"Solar_Panel_Monitor__e.Health__c&lt;Asset.Critical_Threshold__c","action":[{"id":0,"name":"changeState","params":{"$1":2},"type":"catalog"}],"description":""},{"id":1,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"Solar_Panel_Monitor__e.Health__c>=Asset.Warning_Threshold__c","action":[{"id":0,"name":"changeState","params":{"$1":1},"type":"catalog"}],"description":""}]},{"id":2,"name":"Error","isDeployed":true,"actions":[{"id":0,"when":{"type":"catalog","name":"immediately","params":{}},"state":"","condition":"","action":[{"id":0,"name":"salesforceObjectCreate","label":"Create Case","responseEvent":"caseResponse","inputFieldAssignments":[{"field":"Subject","valueExpression":"\"Service Solar Panel\""},{"field":"Priority","valueExpression":"\"High\""},{"field":"AssetId","valueExpression":"Asset.Id"}],"recordFilters":[],"sObjectApiName":"Case","isResponseIngested":true,"type":"syncOutput"}],"description":""},{"id":1,"when":{"type":"catalog","name":"always"},"eventSource":"caseResponse","state":"","condition":"","action":[{"id":0,"name":"assignVar","params":{"$1":"CaseId","$2":"caseResponse.Id"},"type":"catalog"}],"description":""},{"id":4,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"","action":[{"id":0,"name":"salesforceObjectUpdate","label":"Update Asset Health","responseEvent":"","inputFieldAssignments":[{"field":"Health__c","valueExpression":"Solar_Panel_Monitor__e.Health__c"}],"recordFilters":[{"field":"Solar_Panel_Serial_Number__c","valueExpression":"Solar_Panel_Monitor__e.Device_Id__c"}],"sObjectApiName":"Asset","isResponseIngested":false,"type":"syncOutput"}],"description":""},{"id":2,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"Solar_Panel_Monitor__e.Health__c>=Asset.Warning_Threshold__c","action":[{"id":1,"name":"salesforceObjectUpdate","label":"Salesforce Output Action","responseEvent":"caseClosedToWarning","inputFieldAssignments":[{"field":"Status","valueExpression":"\"Closed\""}],"recordFilters":[{"field":"Id","valueExpression":"CaseId"}],"sObjectApiName":"Case","isResponseIngested":true,"type":"syncOutput"},{"id":0,"name":"changeState","params":{"$1":1},"type":"catalog"}],"description":""},{"id":3,"when":{"type":"catalog","name":"always"},"eventSource":"Solar_Panel_Monitor__e","state":"","condition":"Solar_Panel_Monitor__e.Health__c>=Asset.Critical_Threshold__c &amp;&amp; Solar_Panel_Monitor__e.Health__c&lt;Asset.Warning_Threshold__c","action":[{"id":1,"name":"salesforceObjectUpdate","label":"Salesforce Output Action","responseEvent":"caseClosedToError","inputFieldAssignments":[{"field":"Status","valueExpression":"\"Closed\""}],"recordFilters":[{"field":"Id","valueExpression":"CaseId"}],"sObjectApiName":"Case","isResponseIngested":true,"type":"syncOutput"},{"id":0,"name":"changeState","params":{"$1":3},"type":"catalog"}],"description":""}]}],"localVariables":[{"id":0,"name":"CaseId","dataType":"Text","eventSource":"caseResponse","condition":"","initialValue":"\"\"","description":""}]}}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Solar_Panel_Monitor_PLATFORM_EVENT_VARIABLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Solar_Panel_Monitor__e</objectType>
    </variables>
    <variables>
        <name>STATE_TRANSITIONS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TRACKER</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
